html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --secondary-text-color: #c4c4c4;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #2f303a;
  --clients-color: #afb1b8;
  --hero-background-color: rgba(47, 48, 58, 0.8);
  --feature-background-color: #f5f4fa;
  --services-background-color: rgba(33, 150, 243, 0.9);
  --contacts-color: rgba(255, 255, 255, 0.6);
  --copyright-color: rgba(255, 255, 255, 0.4);
  --team-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  --portfolio-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
    0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  --footer-color: rgba(255, 255, 255, 0.1);
  --backdrop-modal-color: rgba(0, 0, 0, 0.2);
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  list-style: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Page */

.page-header {
  display: flex;
  background-color: var(--primary-white-color);
  margin: 0px;
}

.header {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header .container,
.footer .container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.container .main-nav {
  display: flex;
  align-items: center;
}

/* Section */

.section {
  display: block;
  padding-bottom: 94px;
}

/* Logo */

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.logo-header {
  display: flex;
  margin-right: 85px;
  color: var(--primary-text-color);
  font-size: 26px;
  line-height: 1, 19;
}

.accent {
  color: var(--accent-color);
}

.logo-footer {
  color: var(--primary-white-color);
  font-size: 22px;
  line-height: 1, 18;
}

/* Site nav */

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav address {
  margin-left: auto;
}

.site-nav a {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.site-nav.link:hover {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav.list {
  display: flex;
  margin-left: 85px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.site-nav.list .link.current {
  position: relative;
}

.site-nav.list .link.current::after {
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 2px;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
}

.auth-nav {
  display: flex;
}

.auth-nav-mail + .auth-nav-tel {
  margin-left: 30px;
}

.contact-nav {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}

.contact-nav:hover,
.contact-nav:focus {
  color: var(--accent-color);
}

a {
  text-decoration: none;
}

.icon.icon-envelope {
  width: 16px;
  height: 11, 2px;
  fill: var(--text-color);
  margin-right: 10px;
}

.icon.icon-smartphone {
  width: 10px;
  height: 14, 94px;
  fill: var(--text-color);
  margin-right: 10px;
}

.icon.icon-envelope:hover,
.icon.icon-smartphone:hover {
  fill: var(--accent-color);
}

/* Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
  margin-top: 0px;
  padding-top: 200px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 0.06em;
}

.button-primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 88;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  letter-spacing: 0.06em;
}

/* Features */

.icon {
  width: 70px;
  height: 70px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  padding-top: 51px;
}

.feature.list {
  display: flex;
}
.feature-title {
  display: block;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  margin-top: 0px;
  margin-bottom: 10px;
}

.feature-text {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  text-align: left;
}

.feature .list a {
  background-color: var(--feature-background-color);
}

.features .item:not(:last-child) {
  margin-right: 30px;
}

.features-img {
  background-color: var(--feature-background-color);
}

.features-img {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 0px;
  margin-bottom: 30px;
  border-radius: 4px;
  min-width: 270px;
  min-height: 120px;
}

.features .container {
  padding-top: 54px;
}

/* Work list */

.work-examples {
  display: flex;
}

.work-name {
  display: block;
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
}

.work-examples .item + .item {
  margin-left: 30px;
}

.work-examples.list .item {
  display: block;
  width: 370px;
  height: 294px;
}

.work-examples.list .item {
  display: flex;
  max-width: 100%;
  height: auto;
  position: relative;
}

.work-title {
  border-radius: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--hero-background-color);
}

/* Our team */

.team.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.team {
  background-color: var(--feature-background-color);
}

.command-list {
  display: flex;
}

.our-team {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
}

.team-name {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  text-align: center;
  background-color: var(--primary-white-color);
}

.team-title {
  margin-top: 0px;
  margin-bottom: 16px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 19;
  text-align: center;
  background-color: var(--primary-white-color);
}

.command-list .team-item + .team-item {
  margin-left: 30px;
}

.command-list.list .team-item::before {
  display: block;
  content: "";
  width: 270px;
  height: 260px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.command-list.list .team-item:nth-child(1)::before {
  background-image: url(../images/team-1.jpg);
}

.command-list.list .team-item:nth-child(2)::before {
  background-image: url(../images/team-2.jpg);
}

.command-list.list .team-item:nth-child(3)::before {
  background-image: url(../images/team-3.jpg);
}

.command-list.list .team-item:nth-child(4)::before {
  background-image: url(../images/team-4.jpg);
}

.team-item {
  background-color: var(--primary-white-color);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: var(--team-shadow);
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-size: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  fill: var(--clients-color);
  color: var(--clients-color);
  background-color: var(--primary-white-color);
}

.socials:hover .social-icons {
  color: var(--primary-white-color);
  fill: var(--primary-white-color);
}

.socials:hover {
  background-color: var(--accent-color);
}

.social-icons {
  max-width: 20px;
  max-height: 20px;
  fill: var(--clients-color);
  color: var(--clients-color);
}

.team.section .social.list {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-bottom: 24px;
}

/* Customers */

.customers.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
}

.client-list {
  display: flex;
  justify-content: center;
  text-align: center;
}

.client-list .item + .item {
  margin-left: 30px;
}

.client-list.list .item {
  width: 170px;
  height: 90px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--clients-color);
  border-radius: 4px;
  fill: var(--clients-color);
  color: var(--clients-color);
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-logo:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* Portfolio */

.portfolio {
  padding-bottom: 94px;
}

.ghost {
  visibility: hidden;
}

.flex-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
}

.flex-element {
  width: calc((100% - 60px) / 3);
  margin-top: 0px;
  margin-bottom: 30px;
  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.flex-element:not(:nth-child(3n)) {
  margin-right: 30px;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-kinds {
  margin-bottom: 50px;
}

.portfolio-kinds li {
  border: 1px transparent;
  margin-right: 8px;
  padding-left: 0px;
  background-color: var(--seckond-bg-color);
  border-radius: 4px;
}

.our.list {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 63;
}

.portfolio.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  margin-bottom: -30px;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-item .services-text {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.0299em;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .services-text {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-item {
  display: block;
}

.portfolio-item:hover {
  box-shadow: var(--portfolio-shadow);
}

.portfolio.list .portfolio-meta {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.our.list .portfolio-menu:hover,
.our.list .portfolio-menu:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.our.list .portfolio-menu {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--feature-background-color);
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu:not(:last-child) {
  margin-right: 8px;
}

.title-services {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.services-name {
  margin-top: 0px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 88;
}

.services-text {
  color: var(--primary-white-color);
  background-color: var(--services-background-color);
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 56;
}

/* Footer */

.footer-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-footer {
  background-color: var(--secondary-background-color);
}

.page-footer .auth-nav.list {
  flex-direction: column;
  margin-bottom: 9px;
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
}

.footer-content {
  display: flex;
  align-items: baseline;
  padding-top: 45px;
  padding-bottom: 60px;
}

.footer-contacts {
  padding-right: 69px;
}
.contacts {
  color: var(--contacts-color);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 9px;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
}

.social-network.list .list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.page-footer .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-size: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  fill: var(--primary-white-color);
  color: var(--primary-white-color);
  background-color: var(--footer-color);
}

.page-footer .socials:hover {
  background-color: var(--accent-color);
}

.page-footer .social-icons {
  fill: var(--primary-white-color);
  color: var(--primary-white-color);
}

.page-footer .social-icons:not(:last-child) {
  margin-right: 10px;
}

.social-network.list {
  margin-right: 94px;
  width: 206px;
}

.join {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
}

.sign {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
}

.form-mail {
  display: flex;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
}

.subscribe [type="text"] {
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  max-width: 100%;
  height: 50px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 87;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--secondary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.follow-us {
  color: var(--primary-text-color);
}

b,
strong {
  font-weight: bolder;
}

.button-footer {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  justify-content: space-between;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  width: 196px;
  height: 50px;
  border-radius: 4px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.06em;
}

.icon-send {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* Modal window */

.backdrop {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  background-color: var(--backdrop-modal-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  min-width: 528px;
  min-height: 581px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: var(--primary-white-color);
  box-shadow: var(--team-shadow);
  border-radius: 4px;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  cursor: pointer;
}

.form-title {
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form {
  width: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.group-form-fields {
  margin-bottom: 20px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.form-field:focus {
  border: 1px solid var(--accent-color);
  outline: 0;
}

.form-input {
  outline: none;
  padding-top: 12px;
  padding-right: 18px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--text-color);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.comment.form-input:focus + .form-label,
.comment.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-30px);
  color: var(--accent-color);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translate(-26px, -40px);
  color: var(--accent-color);
}

.form-input:focus ~ .icon-icon-person,
.form-input:focus ~ .icon-icon-phone-2,
.form-input:focus ~ .icon-icon-envelope-2 {
  fill: var(--accent-color);
}

.modal-close:focus ~ .icon-icon-close {
  fill: var(--accent-color);
}

.form-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.comment.form-input > .form-label {
  top: 12px;
  left: 16px;
  transform: translateY(0);
  color: var(--accent-color);
}

.comment.form-input {
  position: relative;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--text-color);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.form-label-2 {
  position: absolute;
  top: 22px;
  left: 16px;
  transform: translateY(-50%);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--text-color);
  pointer-events: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.checkbox-agreement {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 13px;
  margin-right: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label-agreement {
  display: inline-block;
  align-items: center;
  color: var(--text-color);
}

.checkbox:checked + .label-agreement::before {
  background-origin: border-box;
  background-color: var(--accent-color);
  background-position-x: 50%;
  background-position-y: 50%;
  background-image: url(../images/vector.svg);
  border: transparent;
  background-size: contain;
}

.label-agreement::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  margin-left: 12px;
  border: 2px solid var(--primary-text-color);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.checkbox-agreement a {
  margin-left: 2px;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.button[type="submit"] {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 55px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: var(--team-shadow);
  border: none;
}

.icon-icon-close {
  left: 1032px;
  top: 235px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  outline: none;
}

.icon-icon-person,
.icon-icon-phone-2,
.icon-icon-envelope-2 {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
