html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --secondary-text-color: #c4c4c4;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #2f303a;
  --clients-color: #afb1b8;
  --hero-background-color: rgba(47, 48, 58, 0.8);
  --feature-background-color: #f5f4fa;
  --services-background-color: rgba(33, 150, 243, 0.9);
  --contacts-color: rgba(255, 255, 255, 0.6);
  --copyright-color: rgba(255, 255, 255, 0.4);
  --team-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  --portfolio-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
    0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  --footer-color: rgba(255, 255, 255, 0.1);
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  list-style: none;
}

.img {
  display: block;
}

/* Page */

.page-header {
  display: flex;
  background-color: var(--primary-white-color);
  margin: 0px;
}

.header {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header .container,
.footer .container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.container .main-nav {
  display: flex;
  align-items: center;
}

/* Section */

.section {
  display: block;
  padding-bottom: 94px;
}

/* Logo */

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.logo-header {
  display: flex;
  margin-right: 85px;
  color: var(--primary-text-color);
  font-size: 26px;
  line-height: 1, 19;
}

.accent {
  color: var(--accent-color);
}

.logo-footer {
  color: var(--primary-white-color);
  font-size: 22px;
  line-height: 1, 18;
}

/* Site nav */

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav address {
  margin-left: auto;
}

.site-nav a {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.site-nav.link:hover {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav.list {
  display: flex;
  margin-left: 85px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.auth-nav {
  display: flex;
}

.auth-nav-mail + .auth-nav-tel {
  margin-left: 30px;
}

.contact-nav {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}

.contact-nav:hover,
.contact-nav:focus {
  color: var(--accent-color);
}

a {
  text-decoration: none;
}

.icon.icon-envelope {
  width: 16px;
  height: 11, 2px;
  fill: var(--text-color);
  margin-right: 10px;
}

.icon.icon-smartphone {
  width: 10px;
  height: 14, 94px;
  fill: var(--text-color);
  margin-right: 10px;
}

.icon.icon-envelope:hover,
.icon.icon-smartphone:hover {
  fill: var(--accent-color);
}

/* Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
  margin-top: 0px;
  padding-top: 200px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 0.06em;
}

.button-primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 88;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  letter-spacing: 0.06em;
}

/* Features */

.icon {
  width: 70px;
  height: 70px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  padding-top: 51px;
}

.feature.list {
  display: flex;
}
.feature-title {
  display: block;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  margin-top: 0px;
  margin-bottom: 10px;
}

.feature-text {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  text-align: left;
}

.feature .list a {
  background-color: var(--feature-background-color);
}

.features .item:not(:last-child) {
  margin-right: 30px;
}

.features-img {
  background-color: var(--feature-background-color);
}

.features-img {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 0px;
  margin-bottom: 30px;
  border-radius: 4px;
  min-width: 270px;
  min-height: 120px;
}

.features .container {
  padding-top: 54px;
}

/* Work list */

.work-examples {
  display: flex;
}

.work-name {
  display: block;
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
}

.work-examples .item + .item {
  margin-left: 30px;
}

.work-examples.list .item::before {
  display: block;
  content: "";
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1211px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.work-examples.list .item:nth-child(1)::before {
  background-image: url(../images/img-4.jpg);
}

.work-examples.list .item:nth-child(2)::before {
  background-image: url(../images/box-1.jpg);
  left: 615px;
}

.work-examples.list .item:nth-child(3)::before {
  background-image: url(../images/img-5.jpg);
  left: 1015px;
}

.work-title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--primary-white-color);
  background-color: var(--hero-background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-align: center;
  text-transform: uppercase;
}

/* Our team */

.team.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.team {
  background-color: var(--feature-background-color);
}

.command-list {
  display: flex;
}

.our-team {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
}

.team-name {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  text-align: center;
  background-color: var(--primary-white-color);
}

.team-title {
  margin-top: 0px;
  margin-bottom: 16px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 19;
  text-align: center;
  background-color: var(--primary-white-color);
}

.command-list .team-item + .team-item {
  margin-left: 30px;
}

.command-list.list .team-item::before {
  display: block;
  content: "";
  width: 270px;
  height: 260px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.command-list.list .team-item:nth-child(1)::before {
  background-image: url(../images/team-1.jpg);
}

.command-list.list .team-item:nth-child(2)::before {
  background-image: url(../images/team-2.jpg);
}

.command-list.list .team-item:nth-child(3)::before {
  background-image: url(../images/team-3.jpg);
}

.command-list.list .team-item:nth-child(4)::before {
  background-image: url(../images/team-4.jpg);
}

.team-item {
  background-color: var(--primary-white-color);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: var(--team-shadow);
}

.social.list {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 24px;
}

.socials {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  fill: var(--clients-color);
}

.socials:hover,
.social:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20px;
  max-height: 20px;
  fill: var(--clients-color);
  background-color: var(--primary-white-color);
}

/* Customers */

.customers.section {
  padding-top: 94px;
}

.customers-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
}

.client-list {
  display: flex;
  justify-content: center;
  text-align: center;
}

.client-list .item + .item {
  margin-left: 30px;
}

.client-list.list .item {
  width: 170px;
  height: 90px;
}

.clients-link {
  display: block;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--clients-color);
  border-radius: 4px;
  fill: var(--clients-color);
}

.clients-link:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* Portfolio */
.ghost {
  visibility: hidden;
}

.flex-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

.flex-element {
  width: calc((100% - 60px) / 3);
  margin-top: 0px;
  margin-bottom: 30px;
  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: var(--portfolio-shadow);
}

.flex-element:not(:nth-child(3n)) {
  margin-right: 30px;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.flex-element::before {
  display: block;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 370px;
  height: 294px;
}

.flex-element:nth-child(1)::before {
  background-image: url(../images/portfolio-1.jpg);
}

.flex-element:nth-child(2)::before {
  background-image: url(../images/portfolio-2.jpg);
}

.flex-element:nth-child(3)::before {
  background-image: url(../images/portfolio-3.jpg);
}

.flex-element:nth-child(4)::before {
  background-image: url(../images/portfolio-4.jpg);
}

.flex-element:nth-child(5)::before {
  background-image: url(../images/portfolio-5.jpg);
}

.flex-element:nth-child(6)::before {
  background-image: url(../images/portfolio-6.jpg);
}

.flex-element:nth-child(7)::before {
  background-image: url(../images/portfolio-7.jpg);
}

.flex-element:nth-child(8)::before {
  background-image: url(../images/portfolio-8.jpg);
}

.flex-element:nth-child(9)::before {
  background-image: url(../images/portfolio-9.jpg);
}

.our.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 63;
  text-align: center;
}

.portfolio.list {
  display: flex;
  flex-wrap: wrap;
}

.button-secondary :hover,
.button-secondary :focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.our.list .button-secondary {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 63px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  border-radius: 4px;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
}

.our.list .button-secondary:not(:last-child) {
  margin-right: 8px;
}

.title-services {
  margin-top: 0px;
  margin-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.services-name {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 88;
}

.services-text {
  color: var(--primary-white-color);
  background-color: var(--services-background-color);
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 56;
}

/* Footer */

.footer-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-footer {
  background-color: var(--secondary-background-color);
}

.page-footer .auth-nav.list {
  flex-direction: column;
  margin-bottom: 9px;
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
}

.footer-content {
  padding-top: 60px;
  display: flex;
  align-items: baseline;
  padding-bottom: 60px;
}

.footer-contacts {
  padding-right: 69px;
}
.contacts {
  color: var(--contacts-color);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 9px;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
}

.social-network.list {
  padding-right: 69px;
  padding-bottom: 94px;
}

.page-footer .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  left: 514px;
  top: 1736px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-radius: 50%;
  border: 0px;
}

.page-footer .social-icons:not(:last-child) {
  margin-right: 10px;
}

.page-footer .social-icons {
  padding-top: 20px;
}

.join {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 40px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
}

.sign {
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
}

.subscribe {
  display: flex;
}

.follow-us {
  color: var(--primary-text-color);
}

b,
strong {
  font-weight: bolder;
}

.footer .socials {
  background-color: var(--footer-color);
}

.icon-send {
  max-width: 24px;
  max-height: 24px;
  margin-left: 10px;
  margin-right: 28px;
}
