.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;

  &-header {
    display: flex;
    margin-right: 85px;
    color: $primary-text-color;
    font-size: 26px;
    line-height: 1.19;
  }
}

.accent {
  color: $accent-color;
}

.logo-footer {
  color: $primary-white-color;
  font-size: 22px;
  line-height: 1.18;
}
