.backdrop {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  background-color: $backdrop-modal-color;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  min-width: 528px;
  min-height: 581px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: $primary-white-color;
  box-shadow: $team-shadow;
  border-radius: 4px;

  &-close {
    @extend %centered;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $primary-white-color;
    cursor: pointer;
  }
}

.form {
  width: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  &-title {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}

.group-form-fields {
  margin-bottom: 20px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;

  &:focus {
    border: 1px solid var(--accent-color);
    outline: 0;
  }
}

.form-input {
  outline: none;
  padding-top: 12px;
  padding-right: 18px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $text-color;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  &:focus {
    border: 1px solid $accent-color;
    outline: none;
  }
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translate(-26px, -40px);
  color: $accent-color;
}

.form-input:focus ~ .icon-icon-person,
.form-input:focus ~ .icon-icon-phone-2,
.form-input:focus ~ .icon-icon-envelope-2 {
  fill: $accent-color;
}

.form-input:not(:placeholder-shown) ~ .form-label-2,
.form-input:focus ~ .form-label-2 {
  transform: translateY(-42px);
  color: $accent-color;
}

.modal-close:focus .icon-icon-close,
.modal-close:hover .icon-icon-close {
  fill: $accent-color;
}

.comment.form-input > .form-label {
  top: 12px;
  left: 16px;
  transform: translateY(0);
  color: $accent-color;
}

.comment.form-input {
  position: relative;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $text-color;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.form-label-2 {
  position: absolute;
  top: 22px;
  left: 16px;
  transform: translateY(-50%);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $text-color;
  pointer-events: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &-agreement {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 13px;
    margin-right: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
}

.checkbox:checked + .label-agreement::before {
  background-origin: border-box;
  background-color: $accent-color;
  background-position-x: 50%;
  background-position-y: 50%;
  background-image: url(../images/vector.svg);
  border: transparent;
  background-size: contain;
}

.label-agreement {
  display: inline-block;
  align-items: center;
  color: $text-color;

  &::before {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    margin-left: 12px;
    border: 2px solid $primary-text-color;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}

.checkbox-agreement a {
  margin-left: 2px;
  text-decoration-line: underline;
  color: $accent-color;
}

.button[type="submit"] {
  @extend %centered;
  box-sizing: border-box;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 55px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: $accent-color;
  color: $primary-white-color;
  box-shadow: $team-shadow;
  border: none;
}

.icon-icon-close {
  left: 1032px;
  top: 235px;
  fill: $primary-text-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  outline: none;
  border: none;
}

.icon-icon-person,
.icon-icon-phone-2,
.icon-icon-envelope-2 {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
