.team.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.command-list {
  display: flex;
}

.our-team {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  color: $primary-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
}

.team {
  background-color: $feature-background-color;

  &-name {
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 19;
    text-align: center;
    background-color: $primary-white-color;
  }
}

.team-title {
  margin-top: 0px;
  margin-bottom: 16px;
  color: $text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 19;
  text-align: center;
  background-color: $primary-white-color;
}

.command-list .team-item + .team-item {
  margin-left: 30px;
}

.command-list.list .team-item::before {
  display: block;
  content: "";
  width: 270px;
  height: 260px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.command-list.list .team-item:nth-child(1)::before {
  background-image: url(../images/team-1.jpg);
}

.command-list.list .team-item:nth-child(2)::before {
  background-image: url(../images/team-2.jpg);
}

.command-list.list .team-item:nth-child(3)::before {
  background-image: url(../images/team-3.jpg);
}

.command-list.list .team-item:nth-child(4)::before {
  background-image: url(../images/team-4.jpg);
}

.team-item {
  background-color: $primary-white-color;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: $team-shadow;
}

.socials {
  @extend %centered;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-size: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  fill: $clients-color;
  color: $clients-color;
  background-color: $primary-white-color;

  &:hover .social-icons {
    color: $primary-white-color;
    fill: $primary-white-color;
  }
}

.socials:hover {
  background-color: $accent-color;
}

.social-icons {
  max-width: 20px;
  max-height: 20px;
  fill: $clients-color;
  color: $clients-color;
}

.team.section .social.list {
  @extend %centered;
  padding: 0px;
  margin-bottom: 24px;
}
