html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  letter-spacing: 0.03em;
}

.page-header {
  display: flex;
  background-color: $primary-white-color;
  margin: 0;
}

.header {
  display: block;

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  @extend %centered;
}

.section {
  display: block;
  padding-bottom: 94px;
}

.list {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
}
