.main-nav {
  @extend %centered;
}

.main-nav address {
  margin-left: auto;
}

.site-nav a {
  display: flex;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  @extend %transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav.link:hover {
  color: $accent-color;
}

.site-nav .link.current {
  color: $accent-color;
}

.site-nav.list {
  display: flex;
  margin-left: 85px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.site-nav.list .link.current {
  position: relative;

  &::after {
    position: absolute;
    background-color: $accent-color;
    border-radius: 2px;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
  }
}

.auth-nav {
  display: flex;

  &-mail + .auth-nav-tel {
    margin-left: 30px;
  }
}

.contact-nav {
  @extend %centered;
  color: $text-color;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

a {
  text-decoration: none;
}

.icon.icon-envelope {
  width: 16px;
  height: 11.2px;
  fill: $text-color;
  margin-right: 10px;

  &:hover {
    fill: $accent-color;
  }
}

.icon.icon-smartphone {
  width: 10px;
  height: 14.94px;
  fill: $text-color;
  margin-right: 10px;

  &:hover {
    fill: $accent-color;
  }
}
