.work-examples {
  display: flex;
}

.work-name {
  display: block;
  margin-top: 0;
  margin-bottom: 50px;
  color: $primary-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work-examples .item + .item {
  margin-left: 30px;
}

.work-examples.list .item {
  display: flex;
  width: 370px;
  height: 294px;
  max-width: 100%;
  position: relative;
}

.work-title {
  border-radius: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
  background-color: $hero-background-color;
}
