$primary-text-color: #212121;
$text-color: #757575;
$secondary-text-color: #c4c4c4;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$primary-background-color: #e5e5e5;
$secondary-background-color: #2f303a;
$clients-color: #afb1b8;
$hero-background-color: rgba(47, 48, 58, 0.8);
$feature-background-color: #f5f4fa;
$services-background-color: rgba(33, 150, 243, 0.9);
$contacts-color: rgba(255, 255, 255, 0.6);
$copyright-color: rgba(255, 255, 255, 0.4);
$team-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 1px 3px rgba(0, 0, 0, 0.12);
$portfolio-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
  0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
$footer-color: rgba(255, 255, 255, 0.1);
$backdrop-modal-color: rgba(0, 0, 0, 0.2);
